div {
	border-radius:6px;
	padding: 5px;
	display: block;
	width: 1200px;
	margin: auto
}


#header{
	background-color: #FF4719;
	border: 2px solid #000000;
	text-align: center;
	margin-bottom: 7px;
}

#content {
	background-color: #FFA319;
	border: 2px solid #000000;
}

h1{
	font-size: 56px;
	color: #000000;
}

ul{
	color: #000000;
	font-size: 18px;
}

#ques{
	color: #000000;
	font-size: 18px;
	font-weight: bold;
}

#title {
	font-size: 46px;
	font-weight: bold;
	text-align: center;
}

.big {
	font-size: 20px;
	text-align: justify;
}

p {
	font-size: 16px;
}

img {
	border-radius: 10px;
	border: 2px solid black;
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}