.heading {
	color:#FFFFFF;
	font-weight:bold;
}

span {
	font-weight:bold;
	color:#000000;
}

p {
	color:#000000;
}

ul{
	text-align: left;
	font-size: 16px;
}

div {
	border-radius: 6px;
	text-align: center;
}

img {
	margin-right: 45px;
	margin-left: 45px;
}

.photo{
	position: absolute;
	margin-right: 10px;
}
#header {
	height:50px;
	background-color:#F38630;
	margin-bottom:5px;
	padding:7px;
}

#center {
	height:250px;
	width:1150px;
	background-color:#E0E4CC;
	float: right;
	margin-bottom:5px;
	position: absolute;
}

#left {
	height: 250px;
	width: 200px;
	background-color:#A7DBD8;
	float: left;
	margin-bottom:5px;
}

#footer {
	background-color:#69D2E7;
	height: 120px;
	clear:both;
	margin-top: 5px;
}

a:link {
	text-decoration: none;
}

a:visited {
	color:#FF0000;
}

a:hover {
	font-weight: bold;
}