.heading {
	color:#FFFFFF;
	font-weight:bold;
}

span {
	font-weight:bold;
	color:#000000;
}

p {
	color:#000000;
}

ul{
	text-align: left;
	font-size: 14px;
}

div {
	border-radius: 6px;
	text-align: center;
}

img {
	margin-right: 10px;
}
#header {
	height:50px;
	background-color:#F38630;
	margin-bottom:5px;
	padding-bottom:3px;
}

#center {
	height:300px;
	width:1100px;
	background-color:#E0E4CC;
	float: right;
}

#left {
	height: 300px;
	width: 200px;
	background-color:#A7DBD8;
	float: left;
}

#footer {
	background-color:#69D2E7;
	height: 150px;
	clear:both;
}

