header{
	background-color: #0099FF;
	height: 25%;
	margin-bottom: 10px;
}

h1 {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 15px;
	color: #FFFFFF;
}

header nav ul li {
	display: inline;
	border: 2px solid white;
	border-radius: 5px;
	padding: 10px;
	background-color: #0099FF;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 25px;
	position: relative;
	margin-right: 50px;
	left: 20%;
	top: 70px;
}

header a li:hover{
	background-color: #00CC99;
	color:white;
	border: 2px solid white;
}

section{
	background-color: #0099FF;
	height: 60%;
	margin-bottom: 10px;
}

section ul li{
	position: relative;
	top:55px;
	color: #000000;
	font-size: 30px;
	font-weight: bold;
	text-align:center;
	margin-bottom: 30px;
}

section p{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top:70px;
	margin-bottom: 20px;
}

img{
	height:50%;
	width:12%;
	position: relative;
	top:-120px;
	left:10px;
	border: 2px solid white;
	border-radius: 5px;
}

#wire{
	text-align: center;
	height:75%;
	width: 30%;
	position: relative;
	left:34.5%;
	top:35px;
}
h2	{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 15px;
	color: #FFFFFF;
}

footer{
	background-color: #0099FF;
	height: 18%;
}

h3 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 15px;
	color: #FFFFFF;
}

#foot ul li {
	display: inline;
	background-color: #0099FF;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 18px;
	position: relative;
	margin-right: 50px;
	left: 23.5%;
	top: 50px;
}
a:link {
	text-decoration: none;
}


a:hover {
	font-style: italic;
}

