div {
	border-radius:6px;
	padding: 5px;
	display: block;
	width: 1200px;
	margin: auto
}

#date {
	text-align: center;
	font-size: 18px
}


#span {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

#header{
	background-color: #69D2E7;
	border: 2px solid #000000;
	text-align: center;
	margin-bottom: 7px;
}

#content {
	background-color: #45ADA8;
	border: 2px solid #000000;
}

h1{
	font-size: 56px;
	color: #000000;
}

p{
	color: #000000;
	font-size: 18px;
	text-align: justify;
}

#title {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}